body {
    background-color: #FFFFFF;
}

.nav-sublink {
    padding-left: 20px;
    font-size: 14px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ED1C60;
}
.nav-link:hover {
    background-color: #ED1C60;
}
.no-hover:hover {
    background-color: unset !important;
}

.sidebarMargin {
    margin-left: 280px;
}

@media only screen and (max-width: 600px) {
    #sidebar {
        top: 0;
        left: -230px;
        transition: 0.3s;
    }
    #sidebar:hover {
        left: 0;
    }
    .sidebarMargin {
        margin-left: 40px;
    }
}
#index {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Scrollbar modications */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar-track {
    background-color: unset;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
}

#documentIndex {
    white-space: nowrap;
    overflow: hidden;
}
#documentIndex li {
    max-width: 235px;
}
#documentIndex lh {
    padding-left: 0px;
    color: lightgray;
}
#documentIndex li a {
    overflow: hidden;
    margin-right: 5px !important;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 235px;
}

.hover-underline:hover {
    text-underline: white;
    text-decoration: underline !important;
}

.copyLinkIcon {
    opacity: 0;
}
h1:hover .copyLinkIcon {
    opacity: 1;
    animation: fadein 0.5s;
}
h2:hover .copyLinkIcon {
    opacity: 1;
    animation: fadein 0.5s;
}
h3:hover .copyLinkIcon {
    opacity: 1;
    animation: fadein 0.5s;
}

#searchResultsContainer {
    overflow-y: scroll;
    overflow-x: auto;
    height: 0.4vh;
}
#search:not(:placeholder-shown) + #searchResultsContainer {
    height: 50vh;
}
.search-item {
    max-width: 235px;
    overflow: hidden;
}
.search-item:hover {
    background-color: #ED1C60;
    color: white;
}

/* 
* Markdown styling 
*/
#content {
    padding-bottom: 50px;
    max-width: calc(100vw - 280px - 40px);
}
@media only screen and (max-width: 600px) {
    #content {
        padding-bottom: 50px;
        max-width: calc(100vw - 80px - 40px);
    }
}
#content h1 {
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
}
#content h2 {
    margin-top: 40px !important;
}
#content h3 {
    margin-top: 30px !important;
}
/* tables */
#content table {
    margin-bottom: 16px;
}
#content table tr:nth-child(odd) {
    background-color: #f8f8f8;
}
#content table tr:nth-child(even) {
    background-color: #ffffff;
}
#content td {
    word-wrap: break-word;
    vertical-align: top;
    padding-right: 10px;
}
/* table headers */
#content th {
    word-wrap: break-word;
    vertical-align: top;
    background-color: rgba(0,0,0,0.05);
}
/* code blocks */
#content pre {
    background-color: #f8f8f8;
    border: 3px solid #f3f3f3 !important;
}
/* inline code */
#content p code {
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
}
/* blockquotes */
#content blockquote {
    background-color: rgba(255, 191, 0, 0.2);
    padding: 10px;
    border-left: 3px solid #FFBF00;
}
#content blockquote p {
    margin-bottom: 0;
}
/* details */
#content details {
    background-color: rgba(48, 179, 227, 0.2);
    padding: 10px;
    border-left: 3px solid #30B3E3;
}
/* links */
#content a {
    color: #ED1C60;
}
